body {
    font-family: Arial, Helvetica, sans-serif;
}

.box {
    width: 550px;
    margin: 0px auto;
    text-align: center;
    box-shadow: 10px 10px 50px;
    border-radius: 30px;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header svg.fa-edit {
    font-size: 30px;
    color: #3F7BC2;
    padding-right: 5px;
}

#add-new {
    position: relative;
}

h1.title {
    color: #3F7BC2;
    font-weight: 400;
    display: inline-block;
}

svg.fa-check-square {
    font-size: 30px;
    color: #3F7BC2;
    padding-right: 5px;
}

input#input-task {
    display: inline-block;
    width: 440px;
    height: 35px;
    border: 1px solid #3F7BC2;
    box-sizing: border-box;
    padding: 12px 25px;
    font-size: 16px;
    position: relative;
    border-radius: 5px;
}

input:focus {
    outline: none;
}

.add-new input:focus {
    outline: none;
}

input::placeholder {
    font-size: 16px;
    color: #3F7BC2;
}

button.add {
    outline: none;
    border: none;
    position: absolute;
    top: -17%;
    right: 9%;
    color: #3F7BC2;
    background-color: transparent;
    padding: 3px;
    font-size: 39px;
    cursor: pointer;
    /* border-top-right-radius: 30px;
    border-bottom-right-radius: 30px; */
}

ul {
    list-style: none;
    margin: 0px 50px;
    padding-left: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
}

li.task {
    font-size: 20px;
    padding: 5px 0px;
    margin: 20px 0px;
    border-width: thin;
    display: flex;
    position: relative;
}

a.edit svg.fa-edit {
    color: #3F7BC2;
    position: absolute;
    right: 6%;
    bottom: 20%;
    cursor: pointer;
}

svg.fa-trash-alt {
    color: red;
    padding: 5px;
    font-weight: 900;
    position: absolute;
    right: 0;
    bottom: 5%;
    cursor: pointer;
}

input[type=checkbox] {
    margin: 5px;
}

@keyframes selected {
    from {
        text-decoration-color: transparent;
    }

    to {
        text-decoration-color: auto;
    }
}

.selected {
    text-decoration: line-through;
    animation: strike 4s linear;
    color: #3F7BC2;
    transition: all 0.5s;
}


span.task-name {
    padding: 0px 5px;
    font-size: 18px;
}

/* span.task-name::before {
    content: " ";
    transition: inherit;

} */

/* li.selected span.task-name::before {
    position: absolute;
    left: 0;
    top: 50%;
    width: 0;
    border-bottom: 1px solid red;
    width: 100%;
    transition: inherit;
} */

/* .selected {
    transition: 2s;
    text-decoration: line-through;
} */
/* .selected {
    position: relative;
}

.selected:before {
    content:" ";
    position: absolute;
    left: 0;
    top: 50%;
    border-bottom: 1px solid red;
    width: 100%;
    transition: all 2s;
} */

/* .selected:hover:before {
     left: -120%
} */